In [3]:
import pandas as pd
import numpy as np

In [3]:
crash_2018 = pd.read_csv('2018_crash.csv',low_memory=False)
crash_2017 = pd.read_csv('2017_crash.csv',low_memory=False)
crash_2015 = pd.read_csv('2015_crash.csv',low_memory=False)
crash_2014 = pd.read_csv('2014_crash.csv',low_memory=False)
crash_2016 = pd.read_csv('2016_crash.csv',low_memory=False)
crash_2013 = pd.read_csv('2013_crash.csv',low_memory=False)
crash_2012 = pd.read_csv('2012_crash.csv',low_memory=False)
crash_2011 = pd.read_csv('2011_crash.csv',low_memory=False)
crash_2010 = pd.read_csv('2010_crash.csv',low_memory=False)

In [3]:
crash = pd.concat([crash_2018, crash_2017, crash_2016, crash_2015, crash_2014, crash_2013, crash_2012, crash_2011, crash_2010], ignore_index=True)

In [4]:
holidays = pd.read_csv('federal_holidays.csv')

In [5]:
crash = pd.merge(crash, holidays, left_on='Crash_Date', right_on='h_date', how='left')
crash.head()

,Crash_ID,Crash_Fatal_Fl,Cmv_Involv_Fl,Schl_Bus_Fl,Rr_Relat_Fl,Medical_Advisory_Fl,Amend_Supp_Fl,Active_School_Zone_Fl,Crash_Date,Crash_Time,...,Non_Injry_Cnt,Unkn_Injry_Cnt,Tot_Injry_Cnt,Death_Cnt,MPO_ID,Investigat_Service_ID,Investigat_DA_ID,Investigator_Narrative,h_date,holiday
0,16175718,N,N,N,N,N,N,N,1/1/18,6:25 PM,...,2,0,0,0,90.0,35.0,NaN,NaN,1/1/18,1.0
1,16175732,N,N,N,N,N,N,N,1/1/18,5:45 PM,...,2,0,1,0,90.0,35.0,NaN,NaN,1/1/18,1.0
2,16175748,N,N,N,N,N,N,N,1/1/18,3:19 PM,...,1,0,0,0,90.0,35.0,NaN,NaN,1/1/18,1.0
3,16175763,N,N,N,N,N,N,N,1/1/18,1:55 PM,...,5,0,0,0,90.0,35.0,NaN,NaN,1/1/18,1.0
4,16175813,N,N,N,N,N,N,N,1/2/18,12:15 PM,...,2,0,0,0,90.0,35.0,NaN,NaN,NaN,NaN

In [6]:
crash['holiday']= crash['holiday'].map({1.0:1.0 , np.NaN:0}).astype('int')

In [7]:
crash.dtypes.tail()

Investigat_Service_ID     float64
Investigat_DA_ID          float64
Investigator_Narrative    float64
h_date                     object
holiday                     int64
dtype: object

In [8]:
# create combined datetime field as datetime from object
crash['datetime'] = crash['Crash_Date'] + ' ' + crash['Crash_Time']
crash['datetime'] = pd.to_datetime(crash['datetime'])
crash['Crash_Date'] = pd.to_datetime(crash['Crash_Date'])

In [9]:
#adjust columns to lowercase for easier query
crash.columns = [col.lower() for col in crash.columns]

In [10]:
#drop unwanted series
crash.drop(columns = ['h_date'])

,crash_id,crash_fatal_fl,cmv_involv_fl,schl_bus_fl,rr_relat_fl,medical_advisory_fl,amend_supp_fl,active_school_zone_fl,crash_date,crash_time,...,non_injry_cnt,unkn_injry_cnt,tot_injry_cnt,death_cnt,mpo_id,investigat_service_id,investigat_da_id,investigator_narrative,holiday,datetime
0,16175718,N,N,N,N,N,N,N,2018-01-01,6:25 PM,...,2,0,0,0,90.0,35.0,NaN,NaN,1,2018-01-01 18:25:00
1,16175732,N,N,N,N,N,N,N,2018-01-01,5:45 PM,...,2,0,1,0,90.0,35.0,NaN,NaN,1,2018-01-01 17:45:00
2,16175748,N,N,N,N,N,N,N,2018-01-01,3:19 PM,...,1,0,0,0,90.0,35.0,NaN,NaN,1,2018-01-01 15:19:00
3,16175763,N,N,N,N,N,N,N,2018-01-01,1:55 PM,...,5,0,0,0,90.0,35.0,NaN,NaN,1,2018-01-01 13:55:00
4,16175813,N,N,N,N,N,N,N,2018-01-02,12:15 PM,...,2,0,0,0,90.0,35.0,NaN,NaN,0,2018-01-02 12:15:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220174,15726534,N,N,N,N,N,Y,N,2010-06-06,2:00 AM,...,0,0,1,0,NaN,NaN,NaN,NaN,0,2010-06-06 02:00:00
220175,15726535,N,Y,N,N,N,Y,N,2010-07-24,3:53 AM,...,1,0,1,0,90.0,NaN,NaN,NaN,0,2010-07-24 03:53:00
220176,15739354,N,N,N,N,N,Y,N,2010-03-07,3:18 AM,...,0,0,5,0,90.0,NaN,NaN,NaN,0,2010-03-07 03:18:00
220177,16450193,N,N,N,N,N,N,N,2010-06-08,7:15 PM,...,0,0,0,0,NaN,NaN,NaN,NaN,0,2010-06-08 19:15:00
220178,16450213,N,N,N,N,N,N,N,2010-02-16,9:55 AM,...,2,0,0,0,NaN,NaN,NaN,NaN,0,2010-02-16 09:55:00

In [11]:
#change dtypes to category
cstochange = crash.loc[:, crash.columns.str.endswith('_id')].columns
crash[cstochange] = crash.loc[:, crash.columns.str.endswith('_id')].astype('category')

In [12]:
#change y/n to 1/0
crash.replace(to_replace=['Y', 'N'], value= [1,0], inplace=True)

In [13]:
crash.head()

,crash_id,crash_fatal_fl,cmv_involv_fl,schl_bus_fl,rr_relat_fl,medical_advisory_fl,amend_supp_fl,active_school_zone_fl,crash_date,crash_time,...,unkn_injry_cnt,tot_injry_cnt,death_cnt,mpo_id,investigat_service_id,investigat_da_id,investigator_narrative,h_date,holiday,datetime
0,16175718,0,0,0,0,0,0,0,2018-01-01,6:25 PM,...,0,0,0,90.0,35.0,NaN,NaN,1/1/18,1,2018-01-01 18:25:00
1,16175732,0,0,0,0,0,0,0,2018-01-01,5:45 PM,...,0,1,0,90.0,35.0,NaN,NaN,1/1/18,1,2018-01-01 17:45:00
2,16175748,0,0,0,0,0,0,0,2018-01-01,3:19 PM,...,0,0,0,90.0,35.0,NaN,NaN,1/1/18,1,2018-01-01 15:19:00
3,16175763,0,0,0,0,0,0,0,2018-01-01,1:55 PM,...,0,0,0,90.0,35.0,NaN,NaN,1/1/18,1,2018-01-01 13:55:00
4,16175813,0,0,0,0,0,0,0,2018-01-02,12:15 PM,...,0,0,0,90.0,35.0,NaN,NaN,NaN,0,2018-01-02 12:15:00

In [14]:
# categorize day of week
crash['day_of_week'] = crash['day_of_week'].replace(['MON', 'TUE', 'WED', 'THU','FRI', 'SAT', 'SUN'], [1, 2, 3, 4,5,6,7]).astype('int')

In [15]:
# create filter on datetime to create commuting hours feature
crash['comut_hrs'] = ((crash['day_of_week'] < 6) & ((crash['datetime'].dt.hour > 5) & (crash['datetime'].dt.hour <= 9)) | ((crash['datetime'].dt.hour >= 16)& (crash['datetime'].dt.hour <= 19))).astype(int)

In [82]:
# create late night feature
crash['late_night'] = (crash['datetime'].dt.hour.isin([1, 2,3,4,22,23,24])).astype(int)

In [17]:
# create weekend feature
crash['weekend'] = (crash['day_of_week'] > 5).astype(int)

# EDA
#### merge crash date and crash time to Crash_datetime
#### convert to datetime format
#### change N/Y to 0/1
Add Holidays, weekends, late night, commuting hours

In [4]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:pgN480441@localhost:5432/TXDOT_Accidents')
# crash.to_sql('crash', engine)

<delete_me>
sql = """
SELECT 
FROM 
"""

df = pd.read_sql(sql, engine)
df.head()

In [5]:
# create df of fields of interest
sql = """
SELECT Crash_ID,
Crash_Fatal_Fl,
Day_of_Week, 
DateTime,
Wthr_Cond_ID,Light_Cond_ID,Crash_Speed_Limit,
Active_School_Zone_Fl,Rr_Relat_Fl,Crash_Date, 
Crash_Time,Cnty_ID,City_ID,Surf_Cond_ID,Rpt_Rdwy_Sys_ID,
Intrsct_Relat_ID,Road_Constr_Zone_Wrkr_Fl,Road_Constr_Zone_Fl,
Road_Part_Adj_ID,Road_Cls_ID,Phys_Featr_1_ID,
Phys_Featr_2_ID,Onsys_Fl,Rural_Fl,
Holiday,Comut_hrs,Weekend,Late_night
FROM crash
"""
cx_df_2 = pd.read_sql(sql.lower(), engine)
cx_df_2.head()

,crash_id,crash_fatal_fl,day_of_week,datetime,wthr_cond_id,light_cond_id,crash_speed_limit,active_school_zone_fl,rr_relat_fl,crash_date,...,road_part_adj_id,road_cls_id,phys_featr_1_id,phys_featr_2_id,onsys_fl,rural_fl,holiday,comut_hrs,weekend,late_night
0,16175718,0,1,2018-01-01 18:25:00,11,4,45,0,0,2018-01-01,...,2,2,21.0,21.0,0,0,1,1,0,0
1,16175732,0,1,2018-01-01 17:45:00,11,1,50,0,0,2018-01-01,...,1,3,21.0,21.0,1,0,1,1,0,0
2,16175748,0,1,2018-01-01 15:19:00,12,1,40,0,0,2018-01-01,...,1,5,21.0,21.0,0,0,1,0,0,0
3,16175763,0,1,2018-01-01 13:55:00,11,1,50,0,0,2018-01-01,...,1,3,21.0,21.0,1,0,1,0,0,0
4,16175813,0,2,2018-01-02 12:15:00,12,1,30,0,0,2018-01-02,...,1,5,32.0,21.0,0,0,0,0,0,0

In [6]:
sql = """ 
SELECT Count(crash_fatal_fl)
FROM crash
WHERE crash_fatal_fl = 1
"""
pd.read_sql(sql, engine)

   count
0   1214

In [8]:
cx_df_2.dtypes

crash_id                            object
crash_fatal_fl                       int64
day_of_week                          int64
datetime                    datetime64[ns]
wthr_cond_id                        object
light_cond_id                       object
crash_speed_limit                    int64
active_school_zone_fl                int64
rr_relat_fl                          int64
crash_date                  datetime64[ns]
crash_time                          object
cnty_id                             object
city_id                             object
surf_cond_id                        object
rpt_rdwy_sys_id                     object
intrsct_relat_id                    object
road_constr_zone_wrkr_fl             int64
road_constr_zone_fl                  int64
road_part_adj_id                    object
road_cls_id                         object
phys_featr_1_id                     object
phys_featr_2_id                     object
onsys_fl                             int64
rural_fl                             int64
holiday                              int64
comut_hrs                            int64
weekend                              int64
late_night                           int64
dtype: object

In [10]:
cxstochange = cx_df_2.loc[:, cx_df_2.columns.str.endswith('_id')].columns
cx_df_2[cxstochange] = cx_df_2.loc[:, cx_df_2.columns.str.endswith('_id')].astype('category')

In [89]:
# fltochange = cx_df.loc[:, cx_df.columns.str.endswith('_fl')].columns
# cx_df[fltochange] = cx_df.loc[:, cx_df.columns.str.endswith('_fl')].astype('category')

In [90]:
# frtochange = cx_df.loc[:,cx_df.columns[27:31]].columns
# cx_df[frtochange] = cx_df.loc[:,cx_df.columns[27:31]].astype('category')

In [11]:
cx_df_2.dtypes

crash_id                          category
crash_fatal_fl                       int64
day_of_week                          int64
datetime                    datetime64[ns]
wthr_cond_id                      category
light_cond_id                     category
crash_speed_limit                    int64
active_school_zone_fl                int64
rr_relat_fl                          int64
crash_date                  datetime64[ns]
crash_time                          object
cnty_id                           category
city_id                           category
surf_cond_id                      category
rpt_rdwy_sys_id                   category
intrsct_relat_id                  category
road_constr_zone_wrkr_fl             int64
road_constr_zone_fl                  int64
road_part_adj_id                  category
road_cls_id                       category
phys_featr_1_id                   category
phys_featr_2_id                   category
onsys_fl                             int64
rural_fl                             int64
holiday                              int64
comut_hrs                            int64
weekend                              int64
late_night                           int64
dtype: object

In [12]:
# drop rows with null values
cx_df_2 = cx_df_2.dropna()

In [13]:
cx_df_2.shape

(220171, 28)

In [15]:
import pickle
#export the dataframe to be used in modeling
pickle.dump(cx_df_2, open( "cx_df_2.p", "wb" ) )

In [97]:
lookup_2018 = pd.read_csv('lookup_2018.csv',low_memory=False)

In [ ]:
# lookup = pd.concat([lookup_2018,lookup_2017,lookup_2016,lookup_2015,lookup_2014,lookup_2013,lookup_2012,lookup_2011,lookup_2010])

In [98]:
lookup_2018.columns = [col.lower() for col in lookup_2018.columns]

In [ ]:
lookup_2018.to_sql('lookup_2018', engine)